@import "../../consts/variables.scss";

.welcome-container{
    width: 100%;
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../../assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    img{
        width: 300px;
    }

    .welcome-text{
        padding: 0 15vw;
        font-size: 2em;
        color: white;
        text-align: center;
    }

    .welcome-button{
        width: 250px;
        height: 50px;
        background: $accent;
        border: none;
        border-radius: 5px;
        box-sizing: 0 0 10px black;
        font-size: 1.5em;

        a{
            color: white;
            text-decoration: none;
        }
    }
}