@import "../../../consts/variables.scss";

.header-container{
    width: 100%;
    height: 7vh;
    max-height: 7vh;
    background: $primary;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    ul{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;

        li{

            a{
                text-decoration: none;
                color: white;
                transition: all .3s;

                &:hover{
                    text-decoration: underline;
                }
            }
        }

    }

    .search-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        input{
            width: 40%;
            border: none;
            height: 25px;
            border-radius: 10px;
            font-size: 1em;
            text-align: center;
            margin-right: 20px;
            transition: .3s;

            &:hover{
                border: 2px solid $accent;
            }
        }

        button{
            width: 15%;
            height: 25px;
            border: 0;
            border-radius: 20px;
            font-size: 1em;
            font-weight: 700;
            text-transform: uppercase;
            background: $accent;
            color: $primary;
            transition: .3s;

            &:hover{
                transform: scale(1.2);
            }


        }
    }
}