@import "../../../consts/variables.scss";

.footer-container{
    width: 100%;
    height: 5vh;
    background: $accent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2em;
    font-weight: 700;
    position: absolute;
    bottom: 0;
}